doctype html
html(lang='en')
    head
    body
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
        .container-fluid
            .row
                .col-4
                    // Content
                .col-4
                    h1 Select Payment Option
                    h1
                .col-4
                    // Content
        .container
            .row
                .col-4
                    // Content
                .col-4
                    h1
                .col-4
                    // Content
        .container
            .row
                .col-4
                    // Content
                .col-4
                    h1
                .col-4
                    // Content
        .container
            .row
                .col-4
                    // Content
                .col-4
                    h1
                .col-4
                    // Content
        .container
            .row
                .col-4
                    // Content
                .col-4
                    h1
                .col-4
                    // Content
        .container
            .row
                .col-4
                    // Content
                .col-4
                    h1
                .col-4
                    // Content
        .container
            .row
                .col-4
                    // Content
                .col-4
                    h1
                .col-4
                    // Content
        .container
            .row
                .col-4
                    // Content
                .col-4
                    h1
                .col-4
                    // Content
        .container
            .row
                .col-4
                    // Content
                .col-4
                    h1
                .col-4
                    // Content
        .container
            .row
                .col-4
                    // Content
                .col-4
                    h1
                .col-4
                    // Content
        .container
            .row
                .col-4
                    // Content
                .col-4
                    h1
                .col-4
                    // Content
        .container
            .row
                .col-4
                    // Content
                .col-4
                    h1
                .col-4
                    // Content
        .container
            .row
                .col-4
                    // Content
                .col-4
                    h1
                .col-4
                    // Content
        .container
            .row
                .col-lg-4
                    .card
                        img.card-img-top(src='/images/dbcc.jpg', alt='Card image cap', height:='', 100px;='', width:='', 500px;='')
                        h4.card-title      Credit Card
                        a.btn.btn-primary(href='/creditcard') Proceed
                .col-lg-4
                    .card
                        img.card-img-top(src='/images/netbanking.jpg', alt='Card image cap', height:='', 100px;='', width:='', 500px;='')
                        h4.card-title      SAVED CARDS
                        a.btn.btn-primary(href='/savedcard') Proceed
                .col-lg-4
                    .card
                        img.card-img-top(src='/images/saveddb.jpg', alt='Card image cap', height:='', 100px;='', width:='', 500px;='')
                        h4.card-title      Net banking
                        a.btn.btn-primary(href='/netbanking') Proceed
